{% extends "base.html" %}
{% block title %}ROSY - Delete {{item.title}}{% endblock title %}
{% block body %}

<form method='POST' id='en' style='text-align:center;'>
    {% csrf_token %}
    <h1>Delete "{{item.title}}"</h1>
    <p>Are you sure you want to delete this item?</p>
    <button><a href='/management/'>Back</a></button>
    <input type='submit' value='Delete'>
</form>
<form method='POST' id='ar' style='text-align:center;'>
    {% csrf_token %}
    <h1>"{{item.title}}" حذف</h1>
    <p>هل أنت متأكد أنك تريد حذف هذا المنتج؟</p>
    <button><a href='/management/'>تراجع</a></button>
    <input type='submit' value='حذف'>
</form>

{% endblock body %}