{% extends "base.html" %}

{% block title %}ROSY - delete {{item.description}}{% endblock title %}

{% block body %}

{% if request.user.username == 'rosy' %}
<form method='post' id='en' style='text-align:center;'>
    {% csrf_token %}
    <h1>Are you sure you want to delete this item?</h1>
    <button><a href='/discounts/'>Back</a></button>
    <input type='submit' value='Delete'>
</form>
<form method='post' id='ar' style='text-align:center;'>
    {% csrf_token %}
    <h1>هل أنت متأكد أنك تريد الحذف؟</h1>
    <button><a href='/discounts/'>تراجع</a></button>
    <input type='submit' value='حذف'>
</form>
{% else %}
<script>
    location.href = '/'
</script>
{% endif %}

{% endblock body %}