{% extends "base.html" %}

{% block title %}ROSY - Login Page{% endblock title %}

{% block body %}
<div id='en'>
    <form method='post'>
        <h1>Login Form</h1>
        {% csrf_token %}
        {{form}}
        <input type='submit' value='Login'>
        <p>Have no account? <a href="{% url 'register' %}">Register</a> .</p>
    </form>
</div>
<div id='ar' style='direction:rtl'>
    <form method='post'>
        <h1>تسجيل الدخول</h1>
        {% csrf_token %}
        {{form}}
        <input type='submit' value='حفظ'>
        <p>لا تملك حساب؟ <a href="{% url 'register' %}">انشاء الحساب</a> .</p>
    </form>
</div>
{% endblock body %}