{% extends "base.html" %}

{% block title %}ROSY - Password Change Done{% endblock title %}

{% block body %}
<div id='en'>
    <h1 class='h1 fs-45'>Change the password is successfully done!</h1>
    <p class='p'>You can login with your new password.</p>
    <a class='a' href='/'>Home</a>
</div>
<div id='ar'>
    <h1 class='h1 fs-45'>!تم تغيير كلمة المرور بنجاح</h1>
    <p class='p'>.يمكنك تسجيل الدخول باستخدام كلمة المرور الجديدة الخاصة بك</p>
    <a class='a' href='/'>الصفحة الرئيسية</a>
</div>
{% endblock body %}